<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048474593295-p9beiv3m3l90p0utltcj09eb5u2i92d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048474593295-p9beiv3m3l90p0utltcj09eb5u2i92d5</string>
	<key>API_KEY</key>
	<string>AIzaSyBxDGFeGK1xODBRlWyTUYM-NGbyADw45pk</string>
	<key>GCM_SENDER_ID</key>
	<string>1048474593295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sasi.Fundo</string>
	<key>PROJECT_ID</key>
	<string>fundo-1562136399871</string>
	<key>STORAGE_BUCKET</key>
	<string>fundo-1562136399871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048474593295:ios:b29cdab661c36b31</string>
	<key>DATABASE_URL</key>
	<string>https://fundo-1562136399871.firebaseio.com</string>
</dict>
</plist>